{{#posts}}

  <h1>{{titel}}</h1>

  <h2>{{kanton}}</h2>

  <p>{{description}}</p>

  <p>#{{hashtag}}</p>

  <a href="{{google_maps}}">{{google_maps}}</a>

  <img src="/uploads/{{photo_url}}" />

{{/posts}}