{{#posts}}

  <h1>{{titel}}</h1>
  <div id="beitrage-overview">
    <div class="left">
      <img src="/uploads/{{photo_url}}" class="img-beitrag-overview" />
    </div>

    <div class="right">
      <h2>{{kanton}}</h2>

      <p>{{description}}</p>

      <p class="hashtag">#{{hashtag}}</p>

      <a href="{{google_maps}}">{{google_maps}}</a>
    </div>
  </div>

{{/posts}}